<div class="banner-container w-100">
    <app-banner [bannerText]="bannerTaxt"></app-banner>
    <div class="container-fluid pt-3 pr-5">
        <fa-icon [icon]="faFacebook" class="mr-4"></fa-icon>
        <fa-icon [icon]="faTwitter" class="mr-4"></fa-icon>
        <fa-icon [icon]="faInstagram" class="mr-4"></fa-icon>
    </div>
</div>

<div class="container-fluid all-movie-list-contailer p-5 mb-3">
    <div class="above"></div>
        MARVEL CHARACTERS LIST
    <div class="below ml-2 mb-3"></div>
    <div class="row" *ngIf="!isCLoading">
        <div *ngFor="let character of movieCharacters" class="posterImage-container col-12 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
            <a routerLink="/details/{{movie}}">
                <div class="card">
                    <div class="card-img-top" >
                        <img class="card-image" src="{{ character.thumbnail.path + '.' + character.thumbnail.extension }}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text text-uppercase">{{ character.name }}</p>
                        <p class="card-bottom-text text-uppercase">{{ character.name | slice:0:6 }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container" *ngIf="isCLoading">
        <app-loading></app-loading>
    </div>
</div>

<div class="overview-container mb-0">
    <div class="container-fluid d-none d-sm-block d-md-block overview-header p-4">
        <img src="../../assets/images/Avengers.png" class="overview-heder-img" alt="marvel-logo">
    </div>
    <div class="container p-5 overview">
        <div class="above"></div>
            OVERVIEW
        <div class="below ml-2 mb-3"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12 movie-details pb-5">
                            The grave course of events set in motion by Thanos that wiped out half the universe and fractured the Avengers ranks compels the remaining Avengers to take one final stand in Marvel Studios' grand conclusion to twenty-two films, "Avengers: Endgame."
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4 movie-details pb-5">
                            <div class="details-title text-uppercase">director</div>
                            Anthony Russo, Joe Russo
                        </div>
                        <div class="col-12 col-lg-4 movie-details pb-5">
                            <div class="details-title text-uppercase">PRODUCERS</div>
                            Kevin Feige
                        </div>
                        <div class="col-12 col-lg-4 movie-details pb-5">
                            <div class="details-title text-uppercase">SCREENPLAY WRITERS</div>
                            Christopher Markus, Stephen McFeely
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-4 movie-details pb-5">
                            <div class="details-title text-uppercase">EXECUTIVE PRODUCERS</div>
                            Louis D’Esposito, Victoria Alonso, Michael Grillo, Trinh Tran, Jon Favreau, James Gunn, Stan Lee
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 movie-details pb-5">
                            <div class="details-title text-uppercase">RELEASE DATE</div>
                            April 26, 2019
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-5 pb-5">
                            <div class="overview-button p-3">
                                FULL CAST & CREDITS
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-5 pb-5">
                            <div class="overview-button p-3">
                                PARTNERS
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-12 col-lg-4" *ngIf="!isDLoading">
                    <img class="overview-image" src="{{ movieDetails.thumbnail.path + '.' + movieDetails.thumbnail.extension }}" alt="Card image cap">
                </div>
                <div class="col-12 col-lg-4" *ngIf="isDLoading">
                    <app-loading></app-loading>
                </div>
            </div>
        </div>
    </div>
</div>

<app-videos-list></app-videos-list>
