@import "../../../variables.scss";

.posterImage-container {
    color: $white;
    font-weight: bold;
    margin-bottom: -20px;

    .posterImage {
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .movie-details {
        visibility: hidden;
        position: relative;
        font-size: 15px;
        bottom: 100px;
        left: 3px;
    }
    .delete-icon {
        visibility: hidden;
        position: relative;
        font-size: 20px;
        top: 35px;
        text-align: right;
        color: $red;
        width: 95%;
        z-index: 1;
    }
    &:hover {
        transform: scale(1.2);
        .movie-details {
            visibility: visible;
        }
        .delete-icon {
            visibility: visible;
        }
        .posterImage {
            filter: brightness(0.5);
        }
    }
}