<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/images/banners/banner5.jpg" class="banner-image w-100" alt="...">
            <div class="carousel-caption d-none d-md-block mt-5">
                <h1 class="banner-text">Marvel Movies and Series</h1>
                <p>Journey into the cosmic depths of the mighty Marvel Cinematic Universe!.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/banners/banner4.jpeg" class="banner-image w-100" alt="...">
            <div class="carousel-caption d-none d-md-block mt-5">
                <h1 class="banner-text">Marvel Movies and Series</h1>
                <p>Journey into the cosmic depths of the mighty Marvel Cinematic Universe!.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/banners/banner3.jpg" class="banner-image w-100" alt="...">
            <div class="carousel-caption d-none d-md-block mt-5">
                <h1 class="banner-text">Marvel Movies and Series</h1>
                <p>Journey into the cosmic depths of the mighty Marvel Cinematic Universe!.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/banners/banner2.jpg" class="banner-image w-100" alt="...">
            <div class="carousel-caption d-none d-md-block mt-5">
                <h1 class="banner-text">Marvel Movies and Series</h1>
                <p>Journey into the cosmic depths of the mighty Marvel Cinematic Universe!.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/banners/banner1.jpg" class="banner-image w-100" alt="...">
            <div class="carousel-caption d-none d-md-block mt-5">
                <h1 class="banner-text">Marvel Movies and Series</h1>
                <p>Journey into the cosmic depths of the mighty Marvel Cinematic Universe!.</p>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>