
<div>
    {{ movies.data.results[0].id }}
</div>

<!-- Listing of movies -->
<div class="m-5">
    <div class="row">
        <div *ngFor="let movie of movies.data.results" class="posterImage-container col-12 col-sm-4 col-md-3 col-lg-2">
            
            <a class="routerLink" routerLink="/details/{{movie.id}}">
                <img [src]="movie.posterImage" class="posterImage" alt="movie-poster" />
            </a>
            <div class="movie-details">
                <div>{{movie.title}}</div>
                <div>{{movie.endYear}}</div>
            </div>
        </div>
    </div>
</div>

<div class="m-5">
    Dummy div
</div>