<div class="scroll-movie-list-container">
    <app-banner bannerText="Marvel Movies and Series"></app-banner>
    <div class="container scroll-movie">
        <div class="scroll-movie-list pt-3" *ngIf="!isLoading">
            <div class="scroll-movie-list-inside" *ngFor="let movie of movies">
                <a class="routerLink" routerLink="/details/{{movie.id}}">
                    <img src="{{ movie.thumbnail.path + '.' + movie.thumbnail.extension }}" class="posterImage"
                        alt="movie-poster" />
                </a>
                <div class="movie-details pt-3 pb-3">
                    <div class="movie-title"> {{ movie.title }} </div>
                    <div class="movie-year"> {{ movie.endYear }} </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
</div>

<div class="container-fluid all-movie-list-contailer p-5 mb-3">
    <div class="above"></div>
    MARVEL MOVIES
    <div class="below ml-2 mb-3"></div>
    <div class="row" *ngIf="!isLoading">
        <div *ngFor="let movie of movies" class="posterImage-container col-12 col-sm-4 col-md-3 col-lg-3 col-xl-2">
            <div class="router-link">
                <a routerLink="/details/{{movie.id}}">
                    <img src="{{ movie.thumbnail.path + '.' + movie.thumbnail.extension }}" class="posterImage"
                        alt="movie-poster" />
                </a>
                <div class="movie-details pt-3 ml-5 ml-sm-0 ml-md-0">
                    <div class="movie-title"> {{ movie.title }} </div>
                    <div class="movie-year"> {{ movie.endYear }} </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
</div>