@import "../../../variables.scss";

.float-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5%;
    margin-bottom: 3%;
    z-index: 1;
    .btn {
        background: $darkPurple;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        border: none;
        font-size: 40px;
        color: $white;
    }
}

.posterImage-container {
    transition: 0.5s;
    color: $white;
    font-weight: bold;
    margin-bottom: -20px;

    .posterImage {
        width: 100%;
        height: 80%;
        border-radius: 3%;
    }
    .movie-details {
        visibility: hidden;
        position: relative;
        font-size: 15px;
        bottom: 100px;
        left: 3px;
    }
    .delete-icon {
        visibility: hidden;
        position: relative;
        font-size: 20px;
        top: 35px;
        text-align: right;
        color: $red;
        width: 95%;
    }
    &:hover {
        transform: scale(1.2);
        .movie-details {
            visibility: visible;
        }
        .delete-icon {
            visibility: visible;
        }
    }
}

.container {
    .form-container {
        display: block;
        .input {
            border: 0;
            outline: 0;
            border-bottom: 1px solid $black;
            &:focus {
                border-bottom: 2px solid $green;
            }
        }
    }
    .close-icon {
        position: relative;
        font-size: 30px;
        top: 2px;
        text-align: right;
        color: $red;
        width: 100%;
    }
}
